.detailsPage {
  color: white;
  width: 100vw;
  min-height: 100vh;
  background-color: #0977b3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.detailsPage span {
  font-weight: 600;
  color: rgb(212, 212, 212);
}

.detailsPage__imgContainer {
  width: 400px;
  height: 200px;
  overflow: hidden;
}

@media (max-width: 450px) {
  .detailsPage__imgContainer {
    width: 100%;
    height: 200px;
  }
}

.detailsPage__imgContainer img {
  width: 100%;
  height: 100%;
}

.detailsPage__titulo {
  position: absolute;
  right: 20px;
  top: 20px;
  display: flex;
  align-items: center;
}

.detailsPAge__info {
  padding: 10px;
}

.detailsPAge__info__item {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.detailesPage__button {
  position: absolute;
  bottom: 20px;
  left: 20px;
}

.detailesPage__button button {
  width: 100px;
  float: right;
  border: none;
  padding: 5px 10px;
  background-color: #2ebb8c;
  color: white;
  transition: 0.5s all ease;
  cursor: pointer;
  text-decoration: none;
}

.detailesPage__button button:hover {
  background-color: #0977b3;
  text-decoration: underline;
}

.detailsPage__region {
  position: absolute;
  left: 20px;
  top: 20px;
}

@media (max-width: 600px) {
  .detailsPage__region {
    display: none;
  }
}

.detailsPage__population {
  position: absolute;
  bottom: 20px;
  right: 20px;
}
